<html><head>
<title> Create Page </title>
</head>  
<body>  
    <h1 style="margin-bottom: 75px;padding-top: 10px;padding-left: 10px;padding-bottom: 10px;padding-right: 10px;margin-left: -10px;margin-right: -10px;margin-top: -10px;font-style: inherit;">Create Page </h1> 
            
        <br>
        <form action="/countrycreate"> 
            <button type="submit" class="btn">
                <span class="btn_content">Create Country</span>
            </button> 
        </form>
    
        <br>
        <form action="/discovercreate"> 
            <button type="submit" class="btn">
                <span class="btn_content">Create Discover</span>
            </button> 
        </form> 
    
        <br>
        <form action="/diseasecreate"> 
            <button type="submit" class="btn">
                <span class="btn_content">Create Disease</span>
            </button>
        </form> 
    
        <br>
        <form action="/diseasetypecreate"> 
            <button type="submit" class="btn">
                <span class="btn_content">Create DiseaseType</span>
            </button>
        </form>

        <br>
        <form action="/doctorcreate"> 
            <button type="submit" class="btn">
                <span class="btn_content">Create Doctor</span>
            </button>
        </form>   

        <br>
        <form action="/publicservantcreate"> 
            <button type="submit" class="btn">
                <span class="btn_content">Create PublicServant</span>
            </button>
        </form>
        
        <br>
        <form action="/recordcreate"> 
            <button type="submit" class="btn">
                <span class="btn_content">Create Record</span>
            </button>
        </form>
        
        <br>
        <form action="/specializecreate"> 
            <button type="submit" class="btn">
                <span class="btn_content">Create Specialize</span>
            </button>
        </form>
        
        <br>
        <form action="/userscreate"> 
            <button type="submit" class="btn">
                <span class="btn_content">Create Users</span>
            </button>
        </form>
        
        <br>
        <form action="/"> 
            <button type="submit" class="btn">
                <span class="btn_content">Back to homepage</span>
            </button>
        </form>        


    
<style type="text/css"></style></body></html>