<html><head>
    <title> Delete Page </title>
    </head>  
    <body>  
        <h1 style="margin-bottom: 75px;padding-top: 10px;padding-left: 10px;padding-bottom: 10px;padding-right: 10px;margin-left: -10px;margin-right: -10px;margin-top: -10px;font-style: inherit;">Delete Page </h1> 
                
            <br>
            <form action="/countrydelete"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Delete From Country</span>
                </button> 
            </form>
        
            <br>
            <form action="/discoverdelete"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Delete From Discover</span>
                </button> 
            </form> 
        
            <br>
            <form action="/diseasedelete"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Delete From Disease</span>
                </button>
            </form> 
        
            <br>
            <form action="/diseasetypedelete"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Delete From DiseaseType</span>
                </button>
            </form>
    
            <br>
            <form action="/doctordelete"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Delete From Doctor</span>
                </button>
            </form>   
    
            <br>
            <form action="/publicservantdelete"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Delete From PublicServant</span>
                </button>
            </form>
            
            <br>
            <form action="/recorddelete"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Delete From Record</span>
                </button>
            </form>
            
            <br>
            <form action="/specializedelete"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Delete From Specialize</span>
                </button>
            </form>
            
            <br>
            <form action="/usersdelete"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Delete From Users</span>
                </button>
            </form>
            
            <br>
            <form action="/"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Back to homepage</span>
                </button>
            </form>        
    
    
        
    <style type="text/css"></style></body></html>