<html><head>
<title> Main Page </title>
</head>  
<body>  
    <h1 style="margin-bottom: 100px;background: var(--yellow-color);padding-top: 10px;padding-left: 10px;padding-bottom: 10px;padding-right: 10px;margin-left: -10px;margin-right: -10px;margin-top: -10px;font-style: inherit;">Adlet Bolatov Database Project Homepage </h1> 
         
        <br>
        <form action="/create"> 
            <button type="submit" class="btn">
                <span class="btn_content">CREATE</span>
            </button> 
        </form>
 
        <br>
        <form action="/read"> 
            <button type="submit" class="btn">
                <span class="btn_content">READ</span>
            </button> 
        </form> 
 
        <br>
        <form action="/update"> 
            <button type="submit" class="btn">
                <span class="btn_content">UPDATE</span>
            </button>
        </form> 
 
        <br>
        <form action="/delete"> 
            <button type="submit" class="btn">
                <span class="btn_content">DELETE</span>
            </button>
        </form>
   
<style type="text/css"></style></body></html>