<html><head>
    <title> Read Page </title>
    </head>  
    <body>  
        <h1 style="margin-bottom: 75px;padding-top: 10px;padding-left: 10px;padding-bottom: 10px;padding-right: 10px;margin-left: -10px;margin-right: -10px;margin-top: -10px;font-style: inherit;"> Read Page </h1> 
                
            <br>
            <form action="/countrytable"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Check Country Table</span>
                </button> 
            </form>
        
            <br>
            <form action="/discovertable"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Check Discover Table</span>
                </button> 
            </form> 
        
            <br>
            <form action="/diseasetable"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Check Disease Table</span>
                </button>
            </form> 
        
            <br>
            <form action="/diseasetypetable"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Check DiseaseType Table</span>
                </button>
            </form>
    
            <br>
            <form action="/doctortable"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Check Doctor Table</span>
                </button>
            </form>   
    
            <br>
            <form action="/publicservanttable"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Check PublicServant Table</span>
                </button>
            </form>
            
            <br>
            <form action="/recordtable"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Check Record Table</span>
                </button>
            </form>
            
            <br>
            <form action="/specializetable"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Check Specialize Table</span>
                </button>
            </form>
            
            <br>
            <form action="/userstable"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Check Users Table</span>
                </button>
            </form>
            
            <br>
            <form action="/"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Back to homepage</span>
                </button>
            </form>        
    
    
        
    <style type="text/css"></style></body></html>