<html><head>
    <title> Update Page </title>
    </head>  
    <body>  
        <h1 style="margin-bottom: 75px;padding-top: 10px;padding-left: 10px;padding-bottom: 10px;padding-right: 10px;margin-left: -10px;margin-right: -10px;margin-top: -10px;font-style: inherit;">Update Page </h1> 
                
            <br>
            <form action="/countryupdate"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Update Country</span>
                </button> 
            </form>
        
            <br>
            <form action="/discoverupdate"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Update Discover</span>
                </button> 
            </form> 
        
            <br>
            <form action="/diseaseupdate"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Update Disease</span>
                </button>
            </form> 
        
            <br>
            <form action="/diseasetypeupdate"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Update DiseaseType</span>
                </button>
            </form>
    
            <br>
            <form action="/doctorupdate"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Update Doctor</span>
                </button>
            </form>   
    
            <br>
            <form action="/publicservantupdate"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Update PublicServant</span>
                </button>
            </form>
            
            <br>
            <form action="/recordupdate"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Update Record</span>
                </button>
            </form>
            
            <br>
            <form action="/specializeupdate"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Update Specialize</span>
                </button>
            </form>
            
            <br>
            <form action="/usersupdate"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Update Users</span>
                </button>
            </form>
            
            <br>
            <form action="/"> 
                <button type="submit" class="btn">
                    <span class="btn_content">Back to homepage</span>
                </button>
            </form>        
    
    
        
    <style type="text/css"></style></body></html>